@font-face {
    font-family: pokemonFont;
    src:url("pokemon_classic.ttf");
}

html {
    background: url(./assets/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(241, 241, 241);
    height: 100%;
    font-family: 'pokemonFont'
}

body {
    background: url(./assets/pokedex.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-x: center;
    background-position-y: center;
    height: 100%;
}

.pokemon-information img {
    width: 300px;
}

#image {
    position: absolute;
    left: 635px;
    top: 32vh;
}

#pokemon-name {
    position: absolute;
    top: 37.5vh;
    left: 107.5vh;
    color: darkgreen;
    font-size: 23px;
}

#pokemonId {
    position: absolute;
    left: 70.4vh;
    top: 62.3vh;
}

.moves {
    position: absolute;
    left: 106vh;
    top: 42vh;
    color: darkgreen;
    padding: 20px;
}

#previous {
    position: absolute;
    left: 111.2vh;
    top: 66.4vh;
    width: 33px;
    height: 25px;
    opacity: 0;
}

#next {
    position: absolute;
    left: 115vh;
    top: 66.4vh;
    width: 33px;
    height: 25px;
    opacity: 0;
}

#searchValue{
    position: absolute;
    left: 70.4vh;
    top: 68vh;
    width: 150px;
    height: 60px;
    background-color: red;
    text-align: center;
}
#searchBtn{
    position: absolute;
    left: 87.4vh;
    top: 72.6vh;
    background-color: red;
    text-align: center;
}